/* CSS Document */
body  {
	 background-image: url(images/chaxiu.jpg);
	 
	font:normal 12px ו; 
	
}

INPUT { BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px}

SELECT {BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px}
table {
	font-size: 12px;
}


a:link {
	font-size: 9pt;
	color: #000000;
	text-decoration: none
}
a:visited {
	font-size: 9pt;
	color: #000000;
	text-decoration: none
}
a:hover {
	font-size: 9pt;
	color: red;
	text-decoration: none
}
